PORT=5000
MONGO_URI=mongodb://127.0.0.1:27017/caremitra
# Atlas example:
# MONGO_URI=mongodb+srv://USERNAME:URL_ENCODED_PASSWORD@cluster.mongodb.net/caremitra?retryWrites=true&w=majority
JWT_SECRET=replace_this_with_a_long_random_secret
CLIENT_ORIGIN=http://localhost:5000
GOOGLE_MAPS_API_KEY=your_google_maps_browser_api_key
RAZORPAY_KEY_ID=rzp_test_your_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
EMAIL_USER=yourcaremitra@gmail.com
EMAIL_APP_PASSWORD=your_gmail_app_password
EMAIL_FROM="CareMitra <yourcaremitra@gmail.com>"
FAST2SMS_API_KEY=your_fast2sms_authorization_key
FAST2SMS_ROUTE=q
FAST2SMS_LANGUAGE=english
FAST2SMS_FLASH=0
FAST2SMS_TIMEOUT_MS=8000
FAST2SMS_RETRIES=1
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
